html {
    margin: auto;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}   

ol, ul {
    list-style: none;
}

body{
    background-image: url(./images/bg-home.png);
    background-repeat: no-repeat;
    background-size: 100%; 
}

/* ======================HEADER====================== */

.header__menu__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.logo{
    width: 222px;
    height: 53px;
    margin-bottom: 16px;
}
.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
} 

.header__menu__link{
    font-family: 'Inconsolata';
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1.4px;
    padding-right: 30px;
    border-right: 1.5px solid #000;
}

.header__menu__link:last-child{
    border: none;
    padding: 0;
}


/* .header__menu__link:hover {
    position: relative;
    }
.header__menu__link:hover:after {
    content: url(./images/nav__line.png);
    display: block;
    position: absolute;
    top: -18px;
    left: -10px;
    } */


/* ======================FOOTER====================== */

.footer__icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 287px;
    height: 46px;
    gap: 25px;
    margin: 38px auto 18px auto;
}

.copyRight{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 15px;
}

/* ======================HOME====================== */

.home__page{
    margin: 0;
}

.home__page__container{
    width: 1320px;
    height: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0px 4px 21.7px 8px rgba(28, 23, 58, 0.25);
    margin: 32px auto 0 auto;
}

.home__page__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    width: 1400px;
    height: 780px;
}

.home__page__text__container{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.home__page__text{
    width: 620px;
    padding-bottom: 45px;
}
.welcome{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 25px;
}

.enjoy__your__stay{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.home__page__image {
    margin-top: 150px;
    height: 470px;
    filter: grayscale(100%);
  }

  


/* ======================PORTFOLIO====================== */

.portfolio__page__container{
    width: 1320px;
    height: 1105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0px 4px 21.7px 8px rgba(28, 23, 58, 0.25);
    margin: 32px auto 0 auto;
}


.about__page__container{
    width: 1320px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0px 4px 21.7px 8px rgba(28, 23, 58, 0.25);
    margin: 32px auto 0 auto;
}

/* ======================ADAPRTIVE VER.====================== */
@media(max-width: 480px) {    
    body{
        display: block;
        background-image: 100%; 
        width: 768px;
    }    
    .home__page__container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #333;
        font-size: 20px;
        font-weight: 300;
        width: 650px;
        height: 1100px;
    }
    .home__page__text__container{
        padding: 0 100px;
        margin-top: 60px;
        width: 550px;
    }
    .home__page__text{
        width: 550px;
    }
    
    .home__page__image{
        height: 300px;
        margin-top: 60px;
    }
    }


@media(max-width: 768px) {    
body{
    display: block;
    background-image: 100%; 
    width: 768px;
}    
.home__page__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    width: 650px;
    height: 1100px;
}
.home__page__text__container{
    padding: 0 100px;
    margin-top: 60px;
    width: 550px;
}
.home__page__text{
    width: 550px;
}

.home__page__image{
    height: 300px;
    margin-top: 60px;
}
}

